cache
graphs
.RProj.User
.RHistory
.Rproj.user
*.kmz
*.kml
output/*.png
output/*.Rda
tmp
tmp/*
*.tex
framed.sty
*.synctex.gz
*.aux
*.log
*.out
*.pdf
output/snowcharts/*.png
output/basins/*.png
log/*.txt
.Rhistory
*.json
.httr-oauth
